<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Initialize the DataSource & Establish the connection -->
    <bean id="dataSource"
    	class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
      <property name = "driverClassName" value = "com.mysql.cj.jdbc.Driver"/>
      <property name = "url" value = "jdbc:mysql://localhost:3306/jdbc"/>
      <property name = "username" value = "root"/>
      <property name = "password" value = "Nitin@243"/>
    </bean>
    
	<!-- creating a bean for jdbc -->
    <bean id="jdbcTemplate"
    	class="org.springframework.jdbc.core.JdbcTemplate">
    	<constructor-arg ref="dataSource"></constructor-arg>
    </bean>
    
    <bean id="studentDaoImpl"
    	class="com.ncu.Spring_JDBC.StudentDaoImpl">
    	<property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean id="student"
    		class="com.ncu.Spring_JDBC.Student" scope="prototype">
    </bean>
</beans>
